body {
  background:#efefef;
}

#orderform {
  width:300px;
  float:right;
  margin-right:100px;
}

#orderdetails {
  width:400px;
  float:right;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  margin-top:40px;
  margin-right:50px;
}

#uploadform {width: 350px;}
label {display: block;}
input, textarea {width: 90%;}
input#submit {width: auto;}
.required {color: red;}

#formfeedback {background: #fee6e8; padding: 5px 5px 20px 20px; width:800px; font-size:14px; border:solid 1px #f8071e; font-family:Arial, Helvetica, sans-serif; margin:0 auto;}

input, textarea {
  color:#444;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:5px;
  margin-top:3px;
}

.orderbutton {
  -moz-box-shadow: 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
  box-shadow: 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0e912d), color-stop(1, #0d8f0d) );
  background:-moz-linear-gradient( center top, #0e912d 5%, #0d8f0d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e912d', endColorstr='#0d8f0d');
  background-color:#0e912d;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #088c18;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  font-weight:normal;
  padding:8px 17px;
  text-decoration:none;
}.orderbutton:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0d8f0d), color-stop(1, #0e912d) );
   background:-moz-linear-gradient( center top, #0d8f0d 5%, #0e912d 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8f0d', endColorstr='#0e912d');
   background-color:#0d8f0d;
}.orderbutton:active {
    position:relative;
    top:1px;
}
