@charset "UTF-8";
/* CSS Document */

body {
  background: #efefef;
}

a:hover, a:active {
  outline: none;
}

a, a:active {
  color: #4096EE;
}

a:hover {
  color: #000;
}

h3 {
  font-size: 18px;
  color: #495d70;
}

body, select, input, textarea {
  color: #444;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

select, input, textarea, button {
  font-family: sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 99%;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
}

button, input, select, textarea {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.quotetitle {
  font-family: 'Patua One', cursive;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: -10px;
  color: #375991;
}

.moretitle {
  font-family: 'Patua One', cursive;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: -10px;
  color: #375991;
}

.shirttitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

.shirtdesc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sizeInput {
  float: left;
  width: 24%;
  text-align: right;
  padding-top: 2px;
}

.biggrey {
  font-family: 'Patua One', cursive;
  color: #666666;
  font-size: 18px;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 10px;
}

.mptext {
  font-family: "myriad-pro-1", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.quotebutton {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3cbeff), color-stop(1, #02abff));
  background: -moz-linear-gradient(center top, #3cbeff 5%, #02abff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cbeff', endColorstr='#02abff');
  background-color: #3cbeff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #00a0f0;
  display: inline-block;
  color: #fcfcfc;
  font-family: arial;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 22px;
  text-decoration: none;
}

.quotebutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02abff), color-stop(1, #3cbeff));
  background: -moz-linear-gradient(center top, #02abff 5%, #3cbeff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02abff', endColorstr='#3cbeff');
  background-color: #02abff;
}

.quotebutton:active {
  position: relative;
  top: 1px;
}

.resetbutton {
  -moz-box-shadow: 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
  box-shadow: 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0e912d), color-stop(1, #0d8f0d));
  background: -moz-linear-gradient(center top, #0e912d 5%, #0d8f0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e912d', endColorstr='#0d8f0d');
  background-color: #0e912d;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #088c18;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
  font-weight: normal;
  padding: 8px 17px;
  text-decoration: none;
}

.resetbutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d8f0d), color-stop(1, #0e912d));
  background: -moz-linear-gradient(center top, #0d8f0d 5%, #0e912d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8f0d', endColorstr='#0e912d');
  background-color: #0d8f0d;
}

.resetbutton:active {
  position: relative;
  top: 1px;
}

.colorbox {
  height: 22px;
  width: 22px;
  border: solid 1px #aaaaaa;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
